doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/node-express-grunt-starter.css')
  body
    block content
    block scripts
      script(type='text/javascript' src='/javascripts/node-express-grunt-starter.js')